backend:
  name: github
  repo: aimemexico1-cat/Dise-oIAmexico
  branch: main

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Home Page"
        name: "home"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Hero Image", name: "hero_image", widget: "image"}
          - {label: "Content", name: "body", widget: "markdown"}
